{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="index">
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-6 my-auto index-text">
                <h4 class="logo-font">
                    EXPLORE ACCESSORIES MADE TO LAST
                </h4>
                <p>Live every moment by wearing well. Jewelry create in the heart of Stockholm.</p>
                <div class="my-4">
                    <h4>
                        <a href="{% url 'products' %}"
                            class="shop-now-button btn btn-sm rounded-0 text-uppercase py-2">Shop
                            Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}