{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container text-center mx-auto">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <h2 class="logo-font mb-4 mt-5">About Us</h2>
            <img class="founder"
                src="https://res.cloudinary.com/www-madine-se/image/upload/v1602049767/william-randles-UQM35Q6ZXx8-unsplash-2_mtkksu.jpg"
                alt="founder">
            <h5 class="text-muted link-font mb-3 mt-5 ">Meadows Of Sthlm</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 mx-auto mb-5">

            <p>Welcome to Meadows of Sthlm, your number one source for all things Jewelry. We're dedicated to giving you
                the very best of rings, neclaces, earrings and bracelets, with a focus on durability, customer service
                and uniqueness.
                Founded in 2020 by Lisa Anderesson, Meadows Of Sthlm has come a long way from its beginnings in a
                toolshed in outskirts of Stockholm.
                When Lisa first started out, her passion for others be more eco-friendly while still staying fashinable
                and gave her the impetus to turn hard work and inspiration into to a booming online store.
                We now serve customers all over the US and Europe and are thrilled to be a part of the quirky,
                eco-friendly wing of the fashion industry.
                <br><br>
                We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or
                comments, please don't hesitate to contact us.
                <br><br>
                Sincerely,<br>
                Lisa, CEO</p>
        </div>
    </div>
</div>
{% endblock %}